.footer {
    padding: 100px 0;
    background-color: var(--co-dark-green);
}

.footer__content {
    padding: 0 30px;
    color: var(--co-white);
}

.footer__title {
    font-size: 40px;
    font-weight: 900;
}

.footer__nav {
    margin: 65px 0 0 0;
}

.footer__nav-list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 60px;
}

.footer__nav-link {
    font-size: 25px;
    font-weight: 500;
}