.hero {
    background: url(../assets/webp/hero-bg.webp) center/cover no-repeat;
    width: 100%;
    height: 900px;
}

.hero__content {
    padding: 180px 0 0 0;
    max-width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.hero__title {
    color: var(--co-green);
    font-size: 65px;
    font-weight: 700;
}

.hero__desc {
    margin: 25px 0 50px;
    color: var(--co-black);
    font-size: 20px;
    font-weight: 400;
}

.hero__content .btn {
    width: 230px;
    height: 65px;
}

@media (max-width: 768px) {
    .hero {
        height: 700px;
    }
    .hero__content {
        padding: 80px 0 0 0;
    }
}

@media (max-width: 480px) {
    .hero {
        background: url(../assets/webp/hero-bg.webp) 60% 50%/cover no-repeat;
    }
    .hero__title {
        font-size: 50px;
        min-width: 350px;
    }
}