.product {
    padding: 160px 0;
}

.product__wrapper {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 30px;
}

.product__preview {
    height: 570px;
    border-radius: 16px;
    overflow: hidden;
}

.product__preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product__content {
    max-width: 530px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    row-gap: 20px;
}

.product__info {
    color: var(--co-black);
    font-size: 25px;
    font-weight: 600;
}

.product__title {
    color: var(--co-green);
    font-size: 50px;
    font-weight: 700;
}

.product__desc {
    color: var(--co-black);
    font-size: 20px;
    font-weight: 400;
}

.product__content .btn {
    width: 230px;
    height: 65px;
    margin: 20px 0 0 0;
}

@media (max-width: 992px) {
    .product__wrapper {
        justify-content: center;
        gap: 32px;
    }
    .product__content {
        max-width: 630px;
    }
    .product__title {
        font-size: 35px;
    }
    .product__desc {
        font-size: 16px;
    }
    .product__wrapper .person-card {
        display: none;
    }
}